In [50]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from pygeocoder import Geocoder #install pygeocoder and import to add zip code list

#google geocode API
from config import gkey

In [2]:
#load csv file for city wide business license data
#downloaded from NYC Open Data

premise_file = "Legally_Operating_Businesses.csv"
df = pd.read_csv(premise_file)
df.head()

/Users/Benjamin/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (8,10,13,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
0,2084131-DCA,Business,03/15/2020,Active,04/03/2019,Amusement Device Permanent,CENTRAL AMUSEMENT INTERNATIONAL INC.,LUNA PARK - SKY TOWER,1000,SURF AVE,...,313.0,47.0,3.24516e+06,3086960212,BK21,352.0,Device Name: SKY TOWER,-73.978006,40.575433,"(40.57543312072461, -73.97800567350316)"
1,0959361-DCA,Business,03/31/2021,Active,04/25/1997,Garage,"PARKANLEX GARAGE COMPANY, LLC",NaN,115,E 75TH ST,...,108.0,4.0,1.04314e+06,1014100011,MN40,128.0,"Vehicle Spaces: 165, Bicycle Spaces: 17",-73.961625,40.772737,"(40.7727369020104, -73.96162515178469)"
2,1235988-DCA,Business,02/28/2021,Active,08/15/2006,Home Improvement Contractor,"JUNIOR'S IRONWORK & CONSTRUCTION, INC.",NaN,16927,LIBERTY AVE,...,412.0,27.0,4e+06,4102180032,QN61,444.0,NaN,-73.788915,40.703297,"(40.70329689832498, -73.78891454010119)"
3,2049399-DCA,Business,12/31/2020,Active,03/09/2017,Electronics Store,"CANAL ALARM DEVICES, INC.",NaN,387,CANAL ST,...,102.0,1.0,1.00294e+06,1002270004,MN24,47.0,NaN,-74.004791,40.721466,"(40.721465796925365, -74.00479091086221)"
4,2021443-DCA,Business,03/31/2021,Active,04/21/2015,Garage and Parking Lot,O & A PARKING GARAGE INC.,NaN,1100,FRANKLIN AVE,...,NaN,NaN,NaN,NaN,BX35,185.0,"Vehicle Spaces: 36, Bicycle Spaces: 10",NaN,NaN,NaN

In [4]:
#load csv for city wide NYPD complaints 
#downloaded from NYC Open Data (note: very large file not uploaded to repository)

premise_file2 = "../NYPD_ETL/NYPD_Complaint_Data_Historic.csv"
df2 = pd.read_csv(premise_file2)
df2.head()

/Users/Benjamin/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,696218695,07/28/2006,18:00:00,07/29/2006,10:30:00,66.0,07/30/2006,351,CRIMINAL MISCHIEF & RELATED OF,254.0,...,NaN,NaN,40.625726,-73.978217,"(40.625726046, -73.978217491)",PATROL BORO BKLYN SOUTH,NaN,45-64,WHITE,M
1,353425827,07/28/2006,18:00:00,07/30/2006,19:00:00,45.0,07/30/2006,341,PETIT LARCENY,338.0,...,NaN,NaN,40.844854,-73.831831,"(40.84485359, -73.831831314)",PATROL BORO BRONX,NaN,25-44,WHITE HISPANIC,M
2,444333943,07/28/2006,18:00:00,07/30/2006,09:00:00,72.0,07/30/2006,351,CRIMINAL MISCHIEF & RELATED OF,254.0,...,NaN,NaN,40.657491,-73.977839,"(40.657491384, -73.977839495)",PATROL BORO BKLYN SOUTH,NaN,45-64,ASIAN / PACIFIC ISLANDER,M
3,904136318,07/28/2006,17:30:00,07/30/2006,08:00:00,108.0,07/30/2006,341,PETIT LARCENY,349.0,...,NaN,NaN,40.746245,-73.898943,"(40.746245109, -73.898943436)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,M
4,289672665,07/28/2006,17:30:00,07/30/2006,09:30:00,70.0,07/30/2006,341,PETIT LARCENY,338.0,...,NaN,NaN,40.612236,-73.953842,"(40.612236421, -73.953841906)",PATROL BORO BKLYN SOUTH,NaN,25-44,WHITE,M

In [5]:
df.columns #show column headers for DCA license info

Index(['DCA License Number', 'License Type', 'License Expiration Date',
       'License Status', 'License Creation Date', 'Industry', 'Business Name',
       'Business Name 2', 'Address Building', 'Address Street Name',
       'Secondary Address Street Name', 'Address City', 'Address State',
       'Address ZIP', 'Contact Phone Number', 'Address Borough',
       'Borough Code', 'Community Board', 'Council District', 'BIN', 'BBL',
       'NTA', 'Census Tract', 'Detail', 'Longitude', 'Latitude', 'Location'],
      dtype='object')

In [8]:
df2.columns #show column headers for NYPD complaint info

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD',
       'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
       'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE',
       'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD',
       'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT',
       'Latitude', 'Longitude', 'Lat_Lon', 'PATROL_BORO', 'STATION_NAME',
       'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX'],
      dtype='object')

In [12]:
#NYPD data
#filter unneeded columns by copying only the needed columns to a new data frame

reduced_df2 = df2[['CMPLNT_FR_DT',
                   'OFNS_DESC',
                   'LAW_CAT_CD',
                   'BORO_NM',
                   'PREM_TYP_DESC',
                   'SUSP_AGE_GROUP',
                   'SUSP_RACE',
                   'SUSP_SEX',
                   'Latitude',
                   'Longitude'
                ]].copy()

In [13]:

#rename column headers to match SQL Schema and disply
reduced_df2 = reduced_df2.rename(columns={'CMPLNT_FR_DT' : 'complaint_fr_date',
                                        'OFNS_DESC' : 'offense_desc',
                                        'LAW_CAT_CD' : 'law_cat_code',
                                        'BORO_NM' : 'boro_name',
                                        'PREM_TYP_DESC' : 'prem_type', 
                                        'SUSP_AGE_GROUP' : 'susp_age',
                                        'SUSP_RACE' : 'suspe_race',
                                        'SUSP_SEX' : 'susp_sex',
                                        'Latitude' : 'latitude',
                                        'Longitude' : 'longitude'
                                       })
reduced_df2.head()

,complaint_fr_date,offense_desc,law_cat_code,boro_name,prem_type,susp_age,suspe_race,susp_sex,latitude,longitude
0,07/28/2006,CRIMINAL MISCHIEF & RELATED OF,MISDEMEANOR,BROOKLYN,STREET,NaN,NaN,NaN,40.625726,-73.978217
1,07/28/2006,PETIT LARCENY,MISDEMEANOR,BRONX,RESIDENCE-HOUSE,NaN,NaN,NaN,40.844854,-73.831831
2,07/28/2006,CRIMINAL MISCHIEF & RELATED OF,MISDEMEANOR,BROOKLYN,STREET,NaN,NaN,NaN,40.657491,-73.977839
3,07/28/2006,PETIT LARCENY,MISDEMEANOR,QUEENS,STREET,NaN,NaN,NaN,40.746245,-73.898943
4,07/28/2006,PETIT LARCENY,MISDEMEANOR,BROOKLYN,DOCTOR/DENTIST OFFICE,NaN,NaN,NaN,40.612236,-73.953842

In [51]:
# #set up geocoding wrapper 
# zip_coder = Geocoder(api_key=gkey)

In [52]:
# #debug
# print(zip_coder.reverse_geocode(reduced_df2['latitude'][0], reduced_df2['longitude'][0]).postal_code)

11204

In [59]:
# complaint_zip = []

# for index, row in reduced_df2.iterrows():
#     try:
#         complaint_zip.append(zip_coder.reverse_geocode(reduced_df2['latitude'], reduced_df2['longitude']).postal_code)
#     # But if you get an error
#     except:
#         # append a missing value to lat
#        complaint_zip.append(np.NaN)

# print(complaint_zip[1])

#NOTE: this code removed because calling the API for such a large dataset is cumbersome and probably expensive.  
#Smaller set can be called by end user

In [14]:
#DCA license dataframe
#rename column headers to match SQL Schema and disply

reduced_df = df[['DCA License Number',
                 'License Expiration Date',
                 'License Status',
                 'License Creation Date',
                 'Industry', 
                 'Address Building',
                 'Address Street Name',
                 'Address ZIP',
                 'Address Borough',
                 'Borough Code',
                 'Latitude',
                 'Longitude'
                ]].copy()

In [15]:
#DCA license dataframe
#rename column headers to match SQL Schema and disply
reduced_df = reduced_df.rename(columns={'DCA License Number' : 'dca_license_number',
                                        'License Expiration Date' : 'license_expiration_date',
                                        'License Status' : 'license_status',
                                        'License Creation Date' : 'license_creation_date',
                                        'Industry' : 'industry', 
                                        'Address Building' : 'address_building',
                                        'Address Street Name' : 'address_street',
                                        'Address ZIP' : 'address_zip',
                                        'Address Borough' : 'address_borough',
                                        'Borough Code' : 'borough_code',
                                        'Latitude' : 'latitude',
                                        'Longitude' : 'longitude'
                                       })
reduced_df.head()

,dca_license_number,license_expiration_date,license_status,license_creation_date,industry,address_building,address_street,address_zip,address_borough,borough_code,latitude,longitude
0,2084131-DCA,03/15/2020,Active,04/03/2019,Amusement Device Permanent,1000,SURF AVE,11224,Brooklyn,3.0,40.575433,-73.978006
1,0959361-DCA,03/31/2021,Active,04/25/1997,Garage,115,E 75TH ST,10021,Manhattan,1.0,40.772737,-73.961625
2,1235988-DCA,02/28/2021,Active,08/15/2006,Home Improvement Contractor,16927,LIBERTY AVE,11433,Queens,4.0,40.703297,-73.788915
3,2049399-DCA,12/31/2020,Active,03/09/2017,Electronics Store,387,CANAL ST,10013,Manhattan,1.0,40.721466,-74.004791
4,2021443-DCA,03/31/2021,Active,04/21/2015,Garage and Parking Lot,1100,FRANKLIN AVE,10456,Bronx,2.0,NaN,NaN

In [22]:
#connect to postgresql database
connection_string = "postgres:1234@localhost:5432/NYPDComplaint_Business"
engine = create_engine(f'postgresql://{connection_string}')

In [23]:
# Confirm tables
engine.table_names()

['licenses', 'complaints']

In [25]:
#insert DCA license information into SQL database
reduced_df.to_sql(name='licenses', con=engine, if_exists='append', index=False)
# reduced_df.dtypes

In [26]:
#insert NYPD complain information into SQL database

reduced_df2.to_sql(name='complaints', con=engine, if_exists='append', index=False)

In [35]:
pd.read_sql_query("select * from complaints where boro_name = 'BROOKLYN'", con=engine).head()

,complaint_fr_date,offense_desc,law_cat_code,boro_name,prem_type,susp_age,suspe_race,susp_sex,latitude,longitude
0,07/28/2006,CRIMINAL MISCHIEF & RELATED OF,MISDEMEANOR,BROOKLYN,STREET,None,None,None,40.625726046,-73.97821749100001
1,07/28/2006,CRIMINAL MISCHIEF & RELATED OF,MISDEMEANOR,BROOKLYN,STREET,None,None,None,40.657491384000004,-73.977839495
2,07/28/2006,PETIT LARCENY,MISDEMEANOR,BROOKLYN,DOCTOR/DENTIST OFFICE,None,None,None,40.612236421,-73.95384190600001
3,07/28/2006,BURGLARY,FELONY,BROOKLYN,PARKING LOT/GARAGE (PUBLIC),None,None,None,40.643272298,-73.962890162
4,07/28/2006,PETIT LARCENY,MISDEMEANOR,BROOKLYN,RESIDENCE-HOUSE,None,None,None,40.635742156999996,-74.031931051

In [37]:
pd.read_sql_query("select * from licenses where address_borough = 'Brooklyn'", con=engine).head()

,dca_license_number,license_expiration_date,license_status,license_creation_date,industry,address_building,address_street,address_zip,address_borough,borough_code,latitude,longitude
0,2084131-DCA,03/15/2020,Active,04/03/2019,Amusement Device Permanent,1000,SURF AVE,11224,Brooklyn,3.0,40.57543312072461,-73.97800567350316
1,2071799-DCA,02/28/2019,Inactive,05/24/2018,Home Improvement Contractor,2011,W 13TH ST,11223,Brooklyn,3.0,40.59774665777339,-73.98442958280751
2,1289042-DCA,12/31/2020,Active,06/16/2008,Tobacco Retail Dealer,4524,5TH AVE,11220,Brooklyn,3.0,40.647730104866746,-74.00760004860872
3,1469166-DCA,02/28/2021,Active,07/11/2013,Home Improvement Contractor,112,12TH ST,11215,Brooklyn,3.0,40.67027032420616,-73.99382850625037
4,2084114-DCA,03/15/2020,Active,04/03/2019,Amusement Device Permanent,1000,SURF AVE,11224,Brooklyn,3.0,40.57543312072461,-73.97800567350316