In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
premise_file = "Legally_Operating_Businesses.csv"
df = pd.read_csv(premise_file)
df.head()

/Users/alexburschtin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (8,10,13,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
0,2084131-DCA,Business,03/15/2020,Active,04/03/2019,Amusement Device Permanent,CENTRAL AMUSEMENT INTERNATIONAL INC.,LUNA PARK - SKY TOWER,1000,SURF AVE,...,313.0,47.0,3.24516e+06,3086960212,BK21,352.0,Device Name: SKY TOWER,-73.978006,40.575433,"(40.57543312072461, -73.97800567350316)"
1,0959361-DCA,Business,03/31/2021,Active,04/25/1997,Garage,"PARKANLEX GARAGE COMPANY, LLC",NaN,115,E 75TH ST,...,108.0,4.0,1.04314e+06,1014100011,MN40,128.0,"Vehicle Spaces: 165, Bicycle Spaces: 17",-73.961625,40.772737,"(40.7727369020104, -73.96162515178469)"
2,1235988-DCA,Business,02/28/2021,Active,08/15/2006,Home Improvement Contractor,"JUNIOR'S IRONWORK & CONSTRUCTION, INC.",NaN,16927,LIBERTY AVE,...,412.0,27.0,4e+06,4102180032,QN61,444.0,NaN,-73.788915,40.703297,"(40.70329689832498, -73.78891454010119)"
3,2049399-DCA,Business,12/31/2020,Active,03/09/2017,Electronics Store,"CANAL ALARM DEVICES, INC.",NaN,387,CANAL ST,...,102.0,1.0,1.00294e+06,1002270004,MN24,47.0,NaN,-74.004791,40.721466,"(40.721465796925365, -74.00479091086221)"
4,2021443-DCA,Business,03/31/2021,Active,04/21/2015,Garage and Parking Lot,O & A PARKING GARAGE INC.,NaN,1100,FRANKLIN AVE,...,NaN,NaN,NaN,NaN,BX35,185.0,"Vehicle Spaces: 36, Bicycle Spaces: 10",NaN,NaN,NaN

In [7]:
premise_file2 = "../NYPD_Complaint_Data_Historic.csv"
df2 = pd.read_csv(premise_file2)
df2.head()

/Users/alexburschtin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,901365683,01/16/2009,21:00:00,01/16/2009,21:06:00,69.0,01/16/2009,235,DANGEROUS DRUGS,567.0,...,NaN,NaN,40.640593,-73.918932,"(40.640592758, -73.918932091)",PATROL BORO BKLYN SOUTH,NaN,NaN,UNKNOWN,E
1,115491080,01/16/2009,21:00:00,01/16/2009,21:53:00,14.0,01/16/2009,107,BURGLARY,213.0,...,NaN,NaN,40.749982,-73.981349,"(40.749982362, -73.981349317)",PATROL BORO MAN SOUTH,NaN,NaN,UNKNOWN,D
2,185567572,01/16/2009,21:00:00,01/16/2009,21:10:00,14.0,01/16/2009,109,GRAND LARCENY,438.0,...,NaN,NaN,40.756642,-73.988372,"(40.756642042, -73.988371577)",PATROL BORO MAN SOUTH,NaN,25-44,WHITE,F
3,757913149,01/16/2009,20:55:00,NaN,NaN,43.0,01/16/2009,235,DANGEROUS DRUGS,511.0,...,NaN,NaN,40.837780,-73.864519,"(40.837779575, -73.864519095)",PATROL BORO BRONX,NaN,NaN,UNKNOWN,E
4,805058287,01/16/2009,20:50:00,NaN,NaN,77.0,01/16/2009,235,DANGEROUS DRUGS,567.0,...,NaN,NaN,40.671984,-73.957499,"(40.67198359, -73.957499226)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,E

In [3]:
df.columns

Index(['DCA License Number', 'License Type', 'License Expiration Date',
       'License Status', 'License Creation Date', 'Industry', 'Business Name',
       'Business Name 2', 'Address Building', 'Address Street Name',
       'Secondary Address Street Name', 'Address City', 'Address State',
       'Address ZIP', 'Contact Phone Number', 'Address Borough',
       'Borough Code', 'Community Board', 'Council District', 'BIN', 'BBL',
       'NTA', 'Census Tract', 'Detail', 'Longitude', 'Latitude', 'Location'],
      dtype='object')

In [8]:
df2.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD',
       'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
       'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE',
       'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD',
       'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT',
       'Latitude', 'Longitude', 'Lat_Lon', 'PATROL_BORO', 'STATION_NAME',
       'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX'],
      dtype='object')

In [25]:
reduced_df2 = df2[['CMPLNT_FR_DT',
                   'OFNS_DESC',
                   'LAW_CAT_CD',
                   'BORO_NM',
                   'PREM_TYP_DESC',
                   'SUSP_AGE_GROUP',
                   'SUSP_RACE',
                   'SUSP_SEX',
                   'Latitude',
                   'Longitude'
                ]].copy()

reduced_df2 = reduced_df2.rename(columns={'CMPLNT_FR_DT' : 'complaint_fr_date',
                                        'OFNS_DESC' : 'offense_desc',
                                        'LAW_CAT_CD' : 'law_cat_code',
                                        'BORO_NM' : 'boro_name',
                                        'PREM_TYP_DESC' : 'prem_type', 
                                        'SUSP_AGE_GROUP' : 'susp_age',
                                        'SUSP_RACE' : 'suspe_race',
                                        'SUSP_SEX' : 'susp_sex',
                                        'Latitude' : 'latitude',
                                        'Longitude' : 'longitude'
                                       })
reduced_df2.head()

,complaint_fr_date,offense_desc,law_cat_code,boro_name,prem_type,susp_age,suspe_race,susp_sex,latitude,longitude
0,01/16/2009,DANGEROUS DRUGS,MISDEMEANOR,BROOKLYN,STREET,NaN,NaN,NaN,40.640593,-73.918932
1,01/16/2009,BURGLARY,FELONY,MANHATTAN,COMMERCIAL BUILDING,NaN,NaN,NaN,40.749982,-73.981349
2,01/16/2009,GRAND LARCENY,FELONY,MANHATTAN,COMMERCIAL BUILDING,NaN,NaN,NaN,40.756642,-73.988372
3,01/16/2009,DANGEROUS DRUGS,MISDEMEANOR,BRONX,PUBLIC BUILDING,NaN,NaN,NaN,40.837780,-73.864519
4,01/16/2009,DANGEROUS DRUGS,MISDEMEANOR,BROOKLYN,STREET,NaN,NaN,NaN,40.671984,-73.957499

In [17]:
# reduced_df = df.loc[:, ["name", "goal", "pledged",
#                                     "state", "country", "staff_pick", "backers_count", "spotlight"]]
# reduced_df

reduced_df = df[['DCA License Number',
                 'License Expiration Date',
                 'License Status',
                 'License Creation Date',
                 'Industry', 
                 'Address Building',
                 'Address Street Name',
                 'Address ZIP',
                 'Address Borough',
                 'Borough Code',
                 'Latitude',
                 'Longitude'
                ]].copy()


reduced_df = reduced_df.rename(columns={'DCA License Number' : 'dca_license_number',
                                        'License Expiration Date' : 'license_expiration_date',
                                        'License Status' : 'license_status',
                                        'License Creation Date' : 'license_creation_date',
                                        'Industry' : 'industry', 
                                        'Address Building' : 'address_building',
                                        'Address Street Name' : 'address_street',
                                        'Address ZIP' : 'address_zip',
                                        'Address Borough' : 'address_borough',
                                        'Borough Code' : 'borough_code',
                                        'Latitude' : 'latitude',
                                        'Longitude' : 'longitude'
                                       })
reduced_df.head()

,dca_license_number,license_expiration_date,license_status,license_creation_date,industry,address_building,address_street,address_zip,address_borough,borough_code,latitude,longitude
0,2084131-DCA,03/15/2020,Active,04/03/2019,Amusement Device Permanent,1000,SURF AVE,11224,Brooklyn,3.0,40.575433,-73.978006
1,0959361-DCA,03/31/2021,Active,04/25/1997,Garage,115,E 75TH ST,10021,Manhattan,1.0,40.772737,-73.961625
2,1235988-DCA,02/28/2021,Active,08/15/2006,Home Improvement Contractor,16927,LIBERTY AVE,11433,Queens,4.0,40.703297,-73.788915
3,2049399-DCA,12/31/2020,Active,03/09/2017,Electronics Store,387,CANAL ST,10013,Manhattan,1.0,40.721466,-74.004791
4,2021443-DCA,03/31/2021,Active,04/21/2015,Garage and Parking Lot,1100,FRANKLIN AVE,10456,Bronx,2.0,NaN,NaN

In [11]:
connection_string = "postgres:@localhost:5432/ETLPROJECT_CRIME"
engine = create_engine(f'postgresql://{connection_string}')

In [12]:
# Confirm tables
engine.table_names()

['licenses', 'complaints']

In [23]:
reduced_df.to_sql(name='licenses', con=engine, if_exists='append', index=False)
# reduced_df.dtypes

In [ ]:
reduced_df2.to_sql(name='complaints', con=engine, if_exists='append', index=False)